--- 
layout: template 
---

<header class="blog-mast">
  <div class="container blog-nav nav-padding-top">
    <div class="pull-right">
      {% include nav.html %}
    </div>
  </div>
  <div class="container">
    <div class="vertical-center">
      <p class="category underline text-center" data-aos="fade-up" data-aos-offset="0">Science</p>

      <h1 data-aos="fade-up">Mother Earth</h1>
      <h2 class="subtitle text-center" data-aos="fade-up" data-aos-offset="0">How a Plant Based Diet Can Help</h2>

      <div class="call-to-action text-center" data-aos="fade-up" data-aos-offset="0">
        <a href="/blog/mother-earth" class="btn btn-primary">
          Read Article
        </a>
      </div>
    </div>  
  </div>
</header>

{{ content }}